<section class="section-wrap">
  <div class="container top-divider">
    <div class="title-row text-center  mt-4">
      <h2 class="section-title">Expand your service business with EcoSenseHomes</h2>
      <p class="subtitle">Join a community of 75,000+ professionals who have successfully grown their business with EcoSenseHomes</p>
    </div>
    <div class="row card-row">

      <div class="col-md-4">
        <article class="entry card box-shadow hover-up">
          <div class="entry__img-holder card__img-holder">
            <a href="single-post.html">
              <img src="assets/img/clienttestimonial/Image_Sajal_Kapoor.png" class="entry__img" alt="">
            </a>
            <div class="entry__body card__body">                    
              <h4 class="entry__title">
                <a href="single-post.html">Sajal Kapoor</a>
              </h4>
              <ul class="entry__meta">
                <li class="entry__meta-category">
                  <i class="ui-category"></i>
                  <a href="#">Wedding Photographer</a>
                </li>
              </ul>             
              <div class="entry__excerpt top-divider">
                <p class="mt-2">From earning 10K a month to being totally booked from November till February -- My UrbanClap Journey.</p>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="col-md-4">
        <article class="entry card box-shadow hover-up">
          <div class="entry__img-holder card__img-holder">
            <a href="single-post.html">
              <img src="assets/img/clienttestimonial/Image_Natasha_Arya.png" class="entry__img" alt="">
            </a>
            <div class="entry__body card__body">                    
              <h4 class="entry__title">
                <a href="single-post.html">Natasha Arya</a>
              </h4>
              <ul class="entry__meta">
                <li class="entry__meta-category">
                  <i class="ui-category"></i>
                  <a href="#">Make-up Artist</a>
                </li>
              </ul>                     
              <div class="entry__excerpt top-divider">
                <p class="mt-2">UrbanClap has given me an opportunity to showcase my work through a convenient platform. It’s all One CLICK away.</p>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="col-md-4">
        <article class="entry card box-shadow hover-up">
          <div class="entry__img-holder card__img-holder">
            <a href="single-post.html">
              <img src="assets/img/clienttestimonial/Image_Yasser_Raja.png" class="entry__img" alt="">
            </a>
            <div class="entry__body card__body">                    
              <h4 class="entry__title">
                <a href="single-post.html">Yasser Raja</a>
              </h4>
              <ul class="entry__meta">
                <li class="entry__meta-category">
                  <i class="ui-category"></i>
                  <a href="#">Fitness Trainer</a>
                </li>
              </ul>                     
              <div class="entry__excerpt top-divider">
                <p class="mt-2">In the past one year UrbanClap has given me business worth Rs. 4.5Lakh+ and has enabled me in quitting my MNC job and follow my passion.</p>
              </div>
            </div>
          </div>
        </article>
      </div>

    </div>
  </div>

  <div class="row justify-content-center">
      <div class="col-lg-10">
        <!-- Optin Form -->
        <div class="optin pt-3 pb-3">
          <h3 class="optin__title text-center mb-0 mt-0">Are you a professional looking to grow your service business ? <button class="optin__btn btn btn--md btn--color btn--button">Join Now</button></h3>
        </div>
      </div>
    </div>

</section>